<!--Card content-->
<!-- main app container -->

<div class='card'>
	<h5 class='card-header bg-success text-white font-weight-bold'>
		{{pageTitle}} <a [routerLink]="['/products']" class="btn btn-primary pull-right">
			<i class="fas fa-back"></i> &nbsp; << Back </a> </h5> <div class='card-body'>

				<form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
					<input type="text" id="productName" name="productName" #productName="ngModel" placeholder="Product Name"  class="form-control-lg mb-4"  required ngModel><br>
					<input type="text" id="productCode" name="productCode" class="form-control-lg mb-4" placeholder="Product Code" required ngModel><br>
					<input type="text" id="releaseDate" name="releaseDate" class="form-control-lg mb-4" placeholder="Release Date" required ngModel><br>
					<input type="text" id="price" name="price" class="form-control-lg mb-4" placeholder="Price" required ngModel><br>
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</form>
</div>
</div>









<!-- <p>First name value: {{ productName.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p> -->