<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://user-images.githubusercontent.com/18617947/88458233-975c2b80-ce5a-11ea-85a9-224dff2a2ce8.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Harish Patel</h3>
      </div>

      <div class="text-center">@HarishPatel</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/HarishPatelssBlog</a>
      </div>
    </div>
  </div>
</div>